  <header>
        <h1>{% t about_page.contact_header_title %}</h1>
    </header>

    <article class="container">

        <section class="row">

            <div class="col-tablet-4 col-phone-6 col-phoneSmall-12">
                <h3>{% t about_page.why_starred_title_1 %}</h3>
                <p>{% t about_page.why_starred_text_1 %}</p>
            </div>

            <div class="col-tablet-4 col-phone-6 col-phoneSmall-12">
                <h3>{% t about_page.why_starred_title_2 %}</h3>
                <p>{% t about_page.why_starred_text_2 %}</p>
            </div>

            <div class="col-tablet-4 col-phone-6 col-phoneSmall-12">
                <h3>{% t about_page.why_starred_title_3 %}</h3>
                <p>{% t about_page.why_starred_text_3 %}</p>
            </div>

        </section>

    </article>

    <div class="background grayBlack center-text">
        <article class="container">
            <section class="row">
                <h3>{% t about_page.support_channels_title %}</h3>
                {% include contact_banner.html %}
            </section>
        </article>
    </div>

    <article class="container">
        <section class="row">
            <h2 class="center-text">{% t about_page.people_title %}</h2>
            {% assign team = site.team | where: 'category', 'team' | sort: 'position' %}

            {% for member in team %}
              <div class="col-tablet-4 col-phone-6 col-phoneSmall-12">
                 <div class="border">
                    <img class="mediumProfileImg floatLeft" src="{{ base_path }}{{ member.image }}" alt="{{ member.title }}">
                    <p class="ellipsis name noMargin">{{ member.name }}</p>
                    <p class="ellipsis noMargin">{{ member.role }}</p>
                     {% if member.email %}  
                     <a href="mailto:{{ member.email }}" rel="nofollow" class="email"><span class="iconStarred-mail"></span></a>
                     {% endif %}
                     {% if member.linkedin %}  
                     <a href="{{ member.linkedin }}" rel="nofollow" target="_blank" class="linkedin" title="{{ member.title }}"><span class="iconStarred-linkedin"></span></a>
                     {% endif %}
                     {% if member.website %}
                        <a href="{{ member.website }}" rel="nofollow" target="_blank" class="careers" title="View all open positions"><span class="iconStarred-company">
                     {% endif %}
                 </div>
              </div>
            {% endfor %}
                
        </section>
    </article>

    <div class="background green center-text">
        <article class="container">
            <section class="row">
                <h2>{% t about_page.hiring_title %}</h2>

                <ul class="horizontal">
                    <li><a href=""><span class="iconStarred-code icon-lg"></span> Development</a></li>
                    <li><a href=""><span class="iconStarred-handShake icon-lg"></span> Business Development</a></li>
                    <li><a href=""><span class="iconStarred-support icon-lg"></span> Customer Care</a></li>
                    <li><a href=""><span class="iconStarred-clown icon-lg"></span> Open Application</a></li>
                </ul>
                <a class="btn" href="https://starred.homerun.co/">{% t about_page.hiring_button %}</a>
            </section>
        </article>
    </div>
    
    <div class="background black contact" id="contact">

        <article class="container">

            <section class="row">

                <div class="col-tablet-8 background">
                  
                    <h2 class=center-text>{% t about_page.contact_message_title %}</h2>

                    <form action="https://formspree.io/info@starred.com"
                          method="POST">

                        <fieldset>
                            <label for="feedback">{% t about_page.contact_message_placeholder %}</label>
                            <textarea id="feedback" name="message" placeholder="{% t about_page.contact_message_placeholder %}"></textarea>

                        </fieldset>

                        <fieldset>
                            <label for="name">{% t about_page.contact_name_placeholder %}</label>
                            <input id="name" name="name" placeholder="{% t about_page.contact_name_placeholder %}" type="text">
                            <label for="email">{% t about_page.contact_email_placeholder %}</label>
                            <input id="email" name="_replyto" name="email" placeholder="{% t about_page.contact_email_placeholder %}" type="email">
                            <button type="submit" class="btn btn-primary">{% t about_page.contact_send %}</button>

                        </fieldset>

                    </form>

                </div>

                <div class="col-tablet-4 center-text address">

                    <p>
                        <span class="iconStarred-office icon-lg"></span><br>
                        Starred B.V.<br>
                        Nieuwe Herengracht 47<br>
                        1011 RN Amsterdam<br>
                        The Netherlands<br>
                        +31 (0) 20 26 10 990
                    </p>
                    -
                    <br>
                    <p>
                        41 Corsham Street<br>
                        N1 6DR London<br>
                        United Kingdom
                    </p>
                </div>

            </section>

        </article>

    </div>