 <header>

        <h1>{% t benefits.header_title %}</h1>
        <h2>{% t benefits.header_subtitle %}</h2>

    </header>

    <article id="clients" class="container">

        <section class="row">
            <div class="col-phoneSmall-12 center-text">
                <h2><span class="iconStarred-userStar icon-lg"></span> {% t benefits.section_1.header %}</h2>
            </div>

            <div class="col-tablet-4">
                <h3>{% t benefits.section_1.title_1 %}</h3>
                <p>{% t benefits.section_1.text_1 %}</p>

                <h3>{% t benefits.section_1.title_2 %}</h3>
                <p>{% t benefits.section_1.text_2 %}</p>

                <h3>{% t benefits.section_1.title_3 %}</h3>
                <p>{% t benefits.section_1.text_3 %}</p>
                <a class="blue" href="{{ base_path_home }}/featurelist/invitations">{% t benefits.section_1.read_more %}</a>
            </div>

            <div class="col-tablet-7 col-tablet-offset-1">
                <img src="{{ site.url }}/images/homepage/benefits/Respondent.jpg"
                     srcset="   {{ site.url }}/images/homepage/benefits/Respondent.jpg 1x,
                                {{ site.url }}/images/homepage/benefits/Respondent@2x.jpg 2x">
            </div>

        </section>

    </article>

    <div class="background black">

        <article id="insights" class="container">

            <section class="row">
                <div class="col-phoneSmall-12 center-text">
                    <h2><span class="iconStarred-path icon-lg"></span>{% t benefits.section_2.header %} </h2>
                </div>

                <div class="col-tablet-7">
                    <img src="{{ site.url }}/images/homepage/benefits/Insights.png"
                         srcset="{{ site.url }}/images/homepage/benefits/Insights.png 1x,
                                 {{ site.url }}/images/homepage/benefits/Insights@2x.png 2x">
                </div>

                <div class="col-tablet-4 col-tablet-offset-1">
                    <h3>{% t benefits.section_2.title_1 %}</h3>
                    <p>{% t benefits.section_2.text_2 %}</p>

                    <h3>{% t benefits.section_2.title_2 %}</h3>
                    <p>{% t benefits.section_2.text_2 %}</p>

                    <h3>{% t benefits.section_2.title_3 %}</h3>
                    <p>{% t benefits.section_2.text_3 %}</p>
                    <a class="blue" href="{{ base_path_home }}/featurelist/analyse">{% t benefits.section_2.read_more %}</a>
                </div>

            </section>

        </article>

    </div>

    <article id="diy" class="container">

        <section class="row">
            <div class="col-phoneSmall-12 center-text">
                <h2><span class="iconStarred-tools icon-lg"></span>{% t benefits.section_3.header %}</h2>
            </div>

            <div class="col-tablet-4">
                <h3>{% t benefits.section_3.title_1 %}</h3>
                <p>{% t benefits.section_3.text_1 %}</p>

                <h3>{% t benefits.section_3.title_2 %}</h3>
                <p>{% t benefits.section_3.text_2 %}</p>

                <h3>{% t benefits.section_3.title_3 %}</h3>
                <p>{% t benefits.section_3.text_3 %}</p>
                <a class="blue" href="{{ base_path_home }}/featurelist/feedback">{% t benefits.section_3.read_more %}</a>
            </div>

            <div class="col-tablet-7 col-tablet-offset-1">
                <img src="{{ site.url }}/images/homepage/benefits/Userfriendly.jpg"
                     srcset="   {{ site.url }}/images/homepage/benefits/Userfriendly.jpg 1x,
                                {{ site.url }}/images/homepage/benefits/Userfriendly@2x.jpg 2x">
            </div>

        </section>

    </article>

    <article class="container">

        <section class="row">
            <div class="col-phoneSmall-12 center-text">
                <h2><span class="iconStarred-notes icon-lg"></span>{% t benefits.features.header %}</h2>
            </div>

            <div class="col-tablet-4">
                <span class="iconStarred-storeOutline"></span>
                <h3>{% t benefits.features.feature_1_title %}</h3>
                <p>{% t benefits.features.feature_1_text %}</p>

                <span class="iconStarred-fileFav"></span>
                <h3>{% t benefits.features.feature_4_title %}</h3>
                <p>{% t benefits.features.feature_4_text %}</p>

                <span class="iconStarred-roller"></span>
                <h3>{% t benefits.features.feature_7_title %}</h3>
                <p>{% t benefits.features.feature_7_text %}</p>

                <span class="iconStarred-signal"></span>
                <h3>{% t benefits.features.feature_10_title %}></h3>
                <p>{% t benefits.features.feature_10_text %}</p>
            </div>

            <div class="col-tablet-4">
                <span class="iconStarred-group"></span>
                <h3>{% t benefits.features.feature_2_title %}</h3>
                <p>{% t benefits.features.feature_2_text %}</p>

                <span class="iconStarred-alarm"></span>
                <h3>{% t benefits.features.feature_5_title %}</h3>
                <p>{% t benefits.features.feature_5_text %}</p>

                <span class="iconStarred-wireframe"></span>
                <h3>{% t benefits.features.feature_8_title %}</h3>
                <p>{% t benefits.features.feature_8_text %}</p>

                <span class="iconStarred-plugin"></span>
                <h3>{% t benefits.features.feature_11_title %}</h3>
                <p>{% t benefits.features.feature_11_text %}</p>
            </div>

            <div class="col-tablet-4">
                <span class="iconStarred-radar"></span>
                <h3>{% t benefits.features.feature_3_title %}<span class="badget">{% t generic.new %}</span></h3>
                <p>{% t benefits.features.feature_3_text %}</p>

                <span class="iconStarred-refresh"></span>
                <h3>{% t benefits.features.feature_6_title %}</h3>
                <p>{% t benefits.features.feature_6_text %}</p>

                <span class="iconStarred-chart"></span>
                <h3>{% t benefits.features.feature_9_title %}</h3>
                <p>{% t benefits.features.feature_9_text %}</p>

                <span class="iconStarred-secure"></span>
                <h3>{% t benefits.features.feature_12_title %}</h3>
                <p>{% t benefits.features.feature_12_text %}</p>
            </div>

        </section>

    </article>

    <div class="background lightBlue center-text">
        <h2>{% t benefits.benefits_banner %}</h2>
        <a class="btn btn-secondary" href="{{ base_path_home }}/featurelist/accounts">{% t benefits.more_features %}</a>
        <a class="btn btn-action" href="{{ base_path_home }}/registration/register">{% t generic.start_trial %}</a>
    </div>