<article id="weblog-overview-starred" class="container">
            
    <div class="row">

        <section id="articles" class="col-tablet-12 col-desktopSmall-8">

            {% assign posts = site.posts %}

            {% if posts.size > 0 %}

                  {% for post in posts %}

                    {% include article.html %}

                  {% endfor %}

            {% else %}

                <article>

                    <h1>
                        {% t blog.no_articles %}
                    </h1>

                    <p>
                        {% t blog.no_articles_published %}
                    </p>

                    <a href="{{ base_path_home }}/blog">
                        {% t blog.overview %}
                    </a>

                </article>
             
            {% endif %}  


        </section>

        <aside class="col-desktopSmall-4 col-tablet-6 col-phone-7 col-phoneSmall-12">

            {% include weblog/widget.html %}

        </aside>

    </div>

</article>

