<ul class="horizontal">
    <li><a href="tel:+31202610990"><span class="iconStarred-incommingPhoneCal icon-lg"></span> +31 (0) 20 26 10 990</a></li>
    <li><a href="javascript:void(0);" onclick="Intercom('showNewMessage');"><span class="iconStarred-keyboard icon-lg"></span>{% t contact.start_chat_text %}</a></li>
    <li><a href="https://calendly.com/lynn-2/" target="_blank"><span class="iconStarred-calendarOutline icon-lg"></span>{% t contact.plan_demo_text %}</a></li>
    <li><a href="mailto:support@starred.com"><span class="iconStarred-mailOutline icon-lg"></span> support@starred.com</a></li>
</ul>