<footer>

        <article class="container">

            <section class="row">

                <div class="col-phoneSmall-12 col-phone-6 col-tablet-4">

                    <!-- HOMEPAGE_FOOTER_ABOUT_TITLE -->
                    <h5>About Starred</h5>
                    <!-- HOMEPAGE_FOOTER_ABOUT_TEXT -->
                    <p>We don't believe in long, boring and expensive customer satisfaction research. We understand that client feedback is essential, but we think that smart, easy to use software could make it more enjoyable for everyone involved as well as provide an affordable solution.</p>

                                              

                <div id="languages" class="custom-select black" onclick="$('#languageSelector').toggle();">

                    <div class="arrow"></div>

                    {% if site.lang == "nl" %}

                        <p class="noMargin">{% t langs.nl %}</p>

                    {% elsif site.lang == "en" %}

                        <p class="noMargin">{% t langs.en %}</p>

                    {% endif %}

                    <div id="languageSelector" class="hide">
                        <a href="{{ switch_lang_nl }}">{% t langs.nl %}</a>
                        <a href="{{ switch_lang_en }}">{% t langs.en %}</a>
                    </div>

                </div>


                </div>

                <div class="col-phoneSmall-12 col-phone-6 col-tablet-4">
                    <h5>Sitemap</h5>
                    <ul class="clean floatLeft">
                    {% assign pages = site.pages | where: 'navigation', 'footer' | sort: 'position' %}
                    {% for page in pages %}
                        {% if page.title %}
                        <li>
                            <a href="{{ page.url }}">{% t page.title %}</a>
                        </li>
                        {% endif %}
                    {% endfor %}      
                    </ul>
                    <ul class="clean floatLeft">
                        <!-- HOMEPAGE_FOOTER_SITEMAP_CONTACT_BUTTON -->
                        <li><a href="">Contact</a></li>
                        
                        <!-- HOMEPAGE_FOOTER_SITEMAP_LOGIN_BUTTON -->
                        <li><a class="loginButton" href="">Login</a></li>

                        <!-- HOMEPAGE_FOOTER_SITEMAP_PRIVACY_BUTTON -->
                        <li><a target="_blank" href="">Privacy</a></li>
                        <!-- HOMEPAGE_FOOTER_SITEMAP_TUA_BUTTON -->
                        <li><a target="_blank" href="">Conditions</a></li>
                        <!-- HOMEPAGE_FOOTER_SITEMAP_FEATURES_BUTTON -->
                        <li><a href="">Benefits</a></li>
                    </ul>
                </div>

                <!--Available newsletter in the next sprint-->
                <div class="col-phoneSmall-12 col-phone-12 col-tablet-4">
                    <!-- HOMEPAGE_FOOTER_NEWSLETTER_SIGNUP_TITLE -->
                    <h5>Subscribe to our newsletter</h5>
                    <!-- HOMEPAGE_FOOTER_NEWSLETTER_SIGNUP_TEXT -->
                    <p>Curious about the developments of Starred? Curious how we look at client feedback? Subscribe to our newsletter and we keep you informed!</p>
                    <!--<input class="black floatLeft" type="text" placeholder="E-mail address"/>
                    <a class="btn btn-primary floatRight" href="#">Registreer</a>-->

                    <!-- Begin MailChimp Signup Form -->

                    <div id="mc_embed_signup">
                        <form action="//starred.us11.list-manage.com/subscribe/post?u=209f3c96f30ca1ec7f049e571&amp;id=b874991677&redirectUrl=www.starred.com/registration/register" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <!-- HOMEPAGE_FOOTER_NEWSLETTER_SIGNUP_PLACEHOLDER -->
                                <input type="email" value="" name="EMAIL" class="email black" id="mce-EMAIL" placeholder="Email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_209f3c96f30ca1ec7f049e571_063339d3de" tabindex="-1" value=""></div>
                                <!-- HOMEPAGE_FOOTER_NEWSLETTER_SIGNUP_BUTTON -->
                                <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->
                </div>

            </section>

        </article>

    </footer>


  {% if jekyll.environment == "production" %}
  
    {% include analytics.html %}

    {% include hotjar.html %}  

  {% endif %}


  <!-- @TODO CHECK COOKIES -->

<!-- Load jQuery -->
<script src="{{ site.url }}/src/js/jquery-3.1.1.min.js"></script>

<!-- Load Componenets -->
<script src="{{ site.url }}/src/js/components/popup/popup.js"></script>
<script src="{{ site.url }}/src/js/components/carousel/carousel.js"></script>

<script type="text/javascript"></script>
  <!-- @TODO INCLUDE COMPONENET JS -->