<footer>

        <article class="container">

            <section class="row">

                <div class="col-phoneSmall-12 col-phone-6 col-tablet-4">

                    <h5>{% t footer.about_title %}</h5>
                    <p>{% t footer.about_text %}</p>

                <div id="languages" class="custom-select black" onclick="$('#languageSelector').toggle();">

                    <div class="arrow"></div>

                    {% if site.lang == "nl" %}

                        <p class="noMargin">{% t langs.nl %}</p>

                    {% elsif site.lang == "en" %}

                        <p class="noMargin">{% t langs.en %}</p>

                    {% endif %}

                    <div id="languageSelector" class="hide">
                        <a href="{{ switch_lang_nl }}">{% t langs.nl %}</a>
                        <a href="{{ switch_lang_en }}">{% t langs.en %}</a>
                    </div>

                </div>


                </div>

                <div class="col-phoneSmall-12 col-phone-6 col-tablet-4">
                    <h5>Sitemap</h5>
                    <ul class="clean floatLeft">
                    {% assign pages = site.pages | where: 'navigation', 'footer' | sort: 'position' %}
                    {% for page in pages %}
                        {% if page.title and page.redir_to == nil %}
                        <li>
                            <a href="{{ base_path_home }}{{ page.url }}">{% t page.title %}</a>
                        </li>
                        {% elsif page.title and page.redir_to  %}
                        <li>
                            <a href="{{ page.redir_to }}">{% t page.title %}</a>
                        </li>
                        {% endif %}
                    {% endfor %}      
                    </ul>
                    <ul class="clean floatLeft">
                        <li><a href="{{ base_path_home }}/about/#contact">{% t footer.sitemap_contact_button%}</a></li>
                        <li><a class="loginButton" href="">{% t footer.sitemap_login_button %}</a></li>
                        <li><a target="_blank" href="{{ base_path_home }}/privacy/">{% t footer.sitemap_privacy_button %}</a></li>
                        <li><a target="_blank" href="{{ base_path_home }}/termsandconditions/">{% t footer.sitemap_tua_button %}</a></li>
                        <li><a href="{{ base_path_home }}/featurelist/accounts/">{% t footer.sitemap_features_button %}</a></li>
                    </ul>
                </div>

                <!--Available newsletter in the next sprint-->
                <div class="col-phoneSmall-12 col-phone-12 col-tablet-4">
                    <h5>{% t footer.newsletter_signup_title %}</h5>
                    <p>{% t footer.newsletter_signup_text %}</p>

                    <!-- Begin MailChimp Signup Form -->

                    <div id="mc_embed_signup">
                        <form action="//starred.us11.list-manage.com/subscribe/post?u=209f3c96f30ca1ec7f049e571&amp;id=b874991677&redirectUrl=www.starred.com/registration/register" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <input type="email" value="" name="EMAIL" class="email black" id="mce-EMAIL" placeholder="{% t footer.newsletter_signup_placeholder %}" required>
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_209f3c96f30ca1ec7f049e571_063339d3de" tabindex="-1" value=""></div>
                                <input type="submit" value="{% t footer.newsletter_signup_button %}" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->
                </div>

            </section>

        </article>

    </footer>


  {% if jekyll.environment == "production" %}
  
    {% include scripts/analytics.html %}

    {% include scripts/hotjar.html %}  

  {% endif %}


  <!-- @TODO COOKIE CONSENT? -->

<!-- Load Componenets -->
<script src="{{ site.url }}/public/bundle.js"></script>
<script src="{{ site.url }}/public/components.js"></script>