<nav id="homepageMenu">

    <div id="homepageContainer" >

        <div class="brand floatLeft">
            <a href="{{ base_path_home }}" title="Starred">Starred</a>
        </div>

        <button class="toggle-navBar show-lte-phone" onclick="$('.toggleMobileNav').slideToggle(); $('.icon-button').toggleClass('active');"><span class="icon-button"></span></button>

        <ul class="toggleMobileNav floatRight clean">

            <li class="shadow"></li>
            {% assign current = page.url | downcase | split: '/' %}

         
            {% assign pages = site.pages | where: 'navigation', 'header' | sort: 'position' %}
            {% for page in pages %}
                {% if page.title %}
                <li>
                    <a class="page-link {% if current[1] == page.layout %} {{ 'active' }} {% endif %}" href="{{ base_path_home }}{{ page.url }}">{% t page.title %}</a>
                </li>
                {% endif %}
            {% endfor %}            

            <li class="exception">
                <a class="btn btn-special loginButton" href="">{% t header.log_in_button %}</a>
            </li>

            <li class="exception">
                <a class="btn btn-action" href="">{% t header.sign_up_button %}</a>
            </li>
        
        </ul>

    </div>

</nav>
<div id="homepageMenuSpacer"></div>


<div id="browserMessage"></div>


