<header>

    <div class="backgroundImage"></div>

    <section class="container">
        <div class="row">

            <div class="col-desktopSmall-8 col-tablet-8 col-phoneSmall-12">
                <h1>{% t home.header_title %}</h1>
                <h2>{% t home.header_subtitle %}</h2>

                <a class="btn btn-secondary" onclick="$('.contactBanner').slideToggle(); return false;">{% t home.contact_button %}</a>
                <a class="btn btn-action" href="">{% t home.trial_button %}</a>

                 <a class="btn desktopView"
                    {% if site.lang == "nl" %}

                        {{ 'alt="Starred video" onclick="showVideoPopup(1);"' }}

                    {% else %}

                        {{ 'alt="Starred video" onclick="showVideoPopup();"' }}

                    {% endif %}>
                    <span class="iconStarred-play"></span>
                    {% t home.promo_video_btn %}
                </a>

                <a class="btn mobileView"
                    {% if site.lang == "nl" %}

                        {{ 'href="https://www.youtube.com/embed/QOiBw3aThFQ?rel=0&title=&autohide=1&showinfo=0&autoplay=1&wmode=transparent" alt="Starred video" target="_blank" }}

                    {% else %}

                        {{ 'href="https://www.youtube.com/embed/IACDr9Qj4i0?rel=0&title=&autohide=1&showinfo=0&autoplay=1&wmode=transparent" alt="Starred video" target="_blank"' }}

                    {% endif %}>
                    <span class="iconStarred-play"></span>
                    {% t home.promo_video_btn %}
                </a>
                    
                </a>

            </div>

        </div>

    </section>

</header>

<article class="container background contactBanner hide">

        <section class="row">

            <div class="col-phoneSmall-12">
                {% include contact_banner.html %}
            </div>

        </section>

    </article>

    <article class="container">

        <section class="row-gutter">

            <div class="col-phoneSmall-12 col-phone-6 col-tablet-4">
                <h3><span class="iconStarred-userStar icon-lg purple"></span> <span>{% t home.benefits_title_1 %}</span></h3>
                <p>{% t home.benefits_text_1 %}</p>
                <a class="btn btn-hyperlink" href="{{ base_path_home }}/benefits#clients">{% t home.read_more %}</a>
            </div>

            <div class="col-phoneSmall-12 col-phone-6 col-tablet-4">
                <h3><span class="iconStarred-path icon-lg greenBlue"></span> <span>{% t home.benefits_title_2 %}</span></h3>
                <p>{% t home.benefits_text_2 %}</p>
                <a class="btn btn-hyperlink" href="{{ base_path_home }}/benefits#insights">{% t home.read_more %}</a>
            </div>

            <div class="col-phoneSmall-12 col-tablet-4">
                <h3><span class="iconStarred-tools icon-lg orange"></span> <span>{% t home.benefits_title_3 %}</span></h3>
                <p>{% t home.benefits_text_3 %}</p>
                <a class="btn btn-hyperlink" href="{{ base_path_home }}/benefits#diy">{% t home.read_more %}</a>
            </div>

        </section>

    </article>

    <article class="container">

        <section class="row">


        {% assign testimonials = site.testimonials | where: 'carousel', true | sort: 'carouselposition' %}


            <div class="col-phone-12 center-text">
                <h2>{% t home.testimonials_title %}</h2>
                <p class="noMargin">{% t home.testimonials_subtitle %}</p>

                <div class="carousel" role="carousel">
                    <ul class="clean carousel-items">

                        {% for tstm in testimonials limit:6 %}

                        <li>
                            <img src="{{ site.url }}{{ tstm.carouselImage }}" alt="{{ tstm.companyName }}">

                            <div>
                                <blockquote>&quot;{% t tstm.headline %}&quot;</blockquote>
                                <div class="smallBorder"><hr></div>
                                <p>{{ tstm.author }} - {{ tstm.role }}</p>
                            </div>

                        </li>            

                         {% endfor %}
                    </ul>

                    <div class="carousel-nav">  
                        {% for tstm in testimonials limit:6 %}
                            <a href="">
                                <img src="{{ site.url }}{{ tstm.companyLogo }}" alt="{{ tstm.companyName }} logo" />
                            </a>
                        {% endfor %}
                    </div>

                    <span class="carousel-arrows carousel-arrows-next iconStarred-arrowRight"></span>
                    <span class="carousel-arrows carousel-arrows-previous iconStarred-arrowLeft"></span>

                </div>

            </div>

        </section>

    </article>

    <section id="integration-logos" class="container center-text">
        <h2>{% t home.integrations_title %}</h2>
        <p class="noMargin">{% t home.integrations_subtitle %}</p>
        <div class="row">
            <div class="col-desktopSmall-3" alt="slack logo">
                <a href="https://slack.com/" target="_blank"><img class="slack" src="{{ site.url }}/images/homepage/logos/slack.png"></a>
            </div>
            <div class="col-desktopSmall-3 col-tablet-6 col-phoneSmall-12" alt="salesforce logo">
                <a href="https://www.salesforce.com/" target="_blank"><img src="{{ site.url }}/images/homepage/logos/salesforce.png"></a>
            </div>
            <div class="col-desktopSmall-3 col-tablet-6 col-phoneSmall-12" alt="zapier logo">
                <a href="https://zapier.com/" target="_blank"><img src="{{ site.url }}/images/homepage/logos/zapier.png"></a>
            </div>
            <div class="col-desktopSmall-3 col-tablet-6 col-phoneSmall-12" alt="zendesk logo">
                <a href="https://www.zendesk.com/" target="_blank"><img class="zendesk" src="{{ site.url }}/images/homepage/logos/zendesk.png"></a>
            </div>
        </div>        
    </section>

    <article class="banner center-text">
        <h2>{% t home.banner_title %}</h2>
        <p>{% t home.banner_text %}</p>
        <a class="btn btn-secondary" href="{{ base_path_home }}/about#contact">{% t generic.get_in_touch %}</a>
        <a class="btn btn-action" href="">{% t generic.trial_tryout %}</a>
    </article>