---
layout: featurelist
---
<section class="col-tablet-8 col-phoneSmall-12">

    <h2>{% t features.accounts.title %}</h2>

    <h3 id="accounts1">{% t features.accounts.subtitle_1 %}</h3>
    <p>{% t features.accounts.text_1 %}</p>

    <h3 id="accounts2">{% t features.accounts.subtitle_2 %}</h3>
    <p>{% t features.accounts.text_2 %}</p>

    <h3 id="accounts3">{% t features.accounts.subtitle_3 %}</h3>
    <p>{% t features.accounts.text_3 %}</p>

    <div class="moreInfo">
        <hr>
        <h3>{% t generic.more_info %}</h3>
        <small>{% t generic.reach_out %}</small>
        <a class="blue" href="{{ base_path_home }}/about#contact">{% t generic.send_message %}</a>
    </div>

</section>