---
layout: featurelist
---
<section class="col-tablet-8 col-phoneSmall-12">

    <h2>{% t features.feedback.title %}</h2>

    <h3 id="feedback1">{% t features.feedback.subtitle_1 %}</h3>
    <p>{% t features.feedback.text_1 %}</p>

    <h3 id="feedback2">{% t features.feedback.subtitle_2 %}</h3>
    <p>{% t features.feedback.text_2 %}</p>

    <h3 id="feedback3">{% t features.feedback.subtitle_3 %}</h3>
    <p>{% t features.feedback.text_3 %}</p>

    <h3 id="feedback4">{% t features.feedback.subtitle_4 %}</h3>
    <p>{% t features.feedback.text_4 %}</p>

    <div class="moreInfo">
        <hr>
        <h3>{% t generic.more_info %}</h3>
        <small>{% t generic.reach_out %}</small>
        <a class="blue" href="{{ base_path_home }}/about#contact">{% t generic.send_message %}</a>
    </div>

</section>