---
layout: featurelist
---

<section class="col-tablet-8 col-phoneSmall-12">

    <h2>{% t features.invitations.title %}</h2>

    <h3 id="invitations1">{% t features.invitations.subtitle_1 %}</h3>
    <p>{% t features.invitations.text_1 %}</p>

    <h3 id="invitations2">{% t features.invitations.subtitle_2 %}</h3>
    <p>{% t features.invitations.text_2 %}</p>

    <h3 id="invitations3">{% t features.invitations.subtitle_3 %}</h3>
    <p>{% t features.invitations.text_3 %}</p>

    <h3 id="invitations4">{% t features.invitations.subtitle_4 %}</h3>
    <p>{% t features.invitations.text_4 %}</p>

    <h3 id="invitations5">{% t features.invitations.subtitle_5 %}</h3>
    <p>{% t features.invitations.text_5 %}</p>

    <h3 id="invitations6">{% t features.invitations.subtitle_6 %}</h3>
    <p>{% t features.invitations.text_6 %}</p>

    <div class="moreInfo">
        <hr>
        <h3>{% t generic.more_info %}</h3>
        <small>{% t generic.reach_out %}</small>
        <a class="blue" href="{{ base_path_home }}/about#contact">{% t generic.send_message %}</a>
    </div>

</section>