<aside class="col-tablet-4 col-phoneSmall-12">

    <div class="show-lte-phone">
        <div id="menu" class="custom-select" onclick="$('#listMenu').toggle();">

            <div class="arrow"></div>

            <p class="noMargin">Menu</p>

            <div id="listMenu" class="hide">
                <a href="{{ base_path_home }}/featurelist/accounts">{% t features.navigation.accounts_title %}</a>
                <a href="{{ base_path_home }}/featurelist/invitations">{% t features.navigation.invitations_title %}</a>
                <a href="{{ base_path_home }}/featurelist/feedback">{% t features.navigation.feedback_title %}</a>
                <a href="{{ base_path_home }}/featurelist/analyse">{% t features.navigation.analyse_title %}</a>
            </div>

        </div>

    </div>

    <div class="hide-lte-phone featureListNav">

        <span class="iconStarred-userIcon icon"></span>
        <h3><a href="{{ base_path_home }}/featurelist/accounts">{% t features.navigation.accounts_title %}</a></h3>
        <ul class="clean">
            <li><a class="accounts1" href="{{ base_path_home }}/featurelist/accounts#accounts1">{% t features.navigation.account.link_1 %}</a></li>
            <li><a class="accounts2" href="{{ base_path_home }}/featurelist/accounts#accounts2">{% t features.navigation.account.link_2 %}</a></li>
            <li><a class="accounts3" href="{{ base_path_home }}/featurelist/accounts#accounts3">{% t features.navigation.account.link_3 %}</a></li>
        </ul>

        <span class="iconStarred-mailOutline icon"></span>
        <h3><a href="{{ base_path_home }}/featurelist/invitations">{% t features.navigation.invitations_title %}</a></h3>
        <ul class="clean">
            <li><a class="invitations1" href="{{ base_path_home }}/featurelist/invitations#invitations1">{% t features.navigation.invitations.link_1 %}</a></li>
            <li><a class="invitations2" href="{{ base_path_home }}/featurelist/invitations#invitations2">{% t features.navigation.invitations.link_2 %}</a></li>
            <li><a class="invitations3" href="{{ base_path_home }}/featurelist/invitations#invitations3">{% t features.navigation.invitations.link_3 %}</a></li>
            <li><a class="invitations4" href="{{ base_path_home }}/featurelist/invitations#invitations4">{% t features.navigation.invitations.link_4 %}</a></li>
            <li><a class="invitations4" href="{{ base_path_home }}/featurelist/invitations#invitations4">{% t features.navigation.invitations.link_5 %}</a></li>
            <li><a class="invitations5" href="{{ base_path_home }}/featurelist/invitations#invitations5">{% t features.navigation.invitations.link_6 %}</a></li>
        </ul>

        <span class="iconStarred-formEdit icon"></span>
        <h3><a href="{{ base_path_home }}/featurelist/feedback">{% t features.navigation.feedback_title %}</a></h3>
        <ul class="clean">
            <li><a class="feedback1" href="{{ base_path_home }}/featurelist/feedback#feedback1">{% t features.navigation.feedback.link_1 %}</a></li>
            <li><a class="feedback2" href="{{ base_path_home }}/featurelist/feedback#feedback2">{% t features.navigation.feedback.link_2 %}</a></li>
            <li><a class="feedback3" href="{{ base_path_home }}/featurelist/feedback#feedback3">{% t features.navigation.feedback.link_3 %}</a></li>
            <li><a class="feedback4" href="{{ base_path_home }}/featurelist/feedback#feedback4">{% t features.navigation.feedback.link_4 %}</a></li>
        </ul>

        <span class="iconStarred-statistics icon"></span>
        <h3><a href="{{ base_path_home }}/featurelist/analyse">{% t features.navigation.analyse_title %}</a></h3>
        <ul class="clean">
            <li><a class="analyse1" href="{{ base_path_home }}/featurelist/analyse#analyse1">{% t features.navigation.analyse.link_1 %}</a></li>
            <li><a class="analyse2" href="{{ base_path_home }}/featurelist/analyse#analyse2">{% t features.navigation.analyse.link_2 %}</a></li>
            <li><a class="analyse3" href="{{ base_path_home }}/featurelist/analyse#analyse3">{% t features.navigation.analyse.link_3 %}</a></li>
            <li><a class="analyse4" href="{{ base_path_home }}/featurelist/analyse#analyse4">{% t features.navigation.analyse.link_4 %}</a></li>
            <li><a class="analyse5" href="{{ base_path_home }}/featurelist/analyse#analyse5">{% t features.navigation.analyse.link_5 %}</a></li>
        </ul>

    </div>

</aside>